#TYPEDEF OfBoolean
#TYPEDEF OfByte
#TYPEDEF OfChar
#TYPEDEF OfShort
#TYPEDEF OfInt
#TYPEDEF OfLong
#TYPEDEF OfFloat
#TYPEDEF OfDouble
#TYPEDEF OfString
#TYPEDEF OfInteger
package omni.util;
import java.util.Random;
#IF OfBoolean,OfByte,OfChar,OfShort,OfFloat
import omni.function.$TypeNameModifier$Predicate;
#ELSE
import java.util.function.$TypeNameModifier$Predicate;
#ENDIF

public enum $ArrayType$Predicates
{
  MarkAll
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate
#IF OfString,OfInteger
    <$ArrayType$>
#ENDIF
    getPred(Random rand,int m)
    {
      return val->true;
    }
  },
  MarkNone
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate
#IF OfString,OfInteger
    <$ArrayType$>
#ENDIF
    getPred(Random rand,int m)
    {
      return val->false;
    }
  },
#IF OfBoolean
  MarkTrue
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate getPred(Random rand,int m)
    {
      return val->val;
    }
  },
  MarkFalse
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate getPred(Random rand,int m)
    {
      return val->!val;
    }
  }
#ELSE
  MarkGreaterThan
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
    getPred(Random rand,int m)
    {
      final $ArrayType$ mConverted=TypeConversionUtil.convertTo$ArrayType$(m);
      return val->{
  #IF OfString,OfInteger
       return val.compareTo(mConverted)>0;
  #ELSE
       return $BoxedType$.compare(val,mConverted)>0;
  #ENDIF
      };
    }
  },
  MarkGreaterThanOrEqualTo
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
    getPred(Random rand,int m)
    {
      final $ArrayType$ mConverted=TypeConversionUtil.convertTo$ArrayType$(m);
      return val->{
  #IF OfString,OfInteger
       return val.compareTo(mConverted)>=0;
  #ELSE
       return $BoxedType$.compare(val,mConverted)>=0;
  #ENDIF
      };
    }
  },
  MarkEqualTo
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
    getPred(Random rand,int m)
    {
      final $ArrayType$ mConverted=TypeConversionUtil.convertTo$ArrayType$(m);
      return val->{
  #IF OfString,OfInteger
       return val.compareTo(mConverted)==0;
  #ELSE
       return $BoxedType$.compare(val,mConverted)==0;
  #ENDIF
      };
    }
  },
  MarkLessThan
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
    getPred(Random rand,int m)
    {
      final $ArrayType$ mConverted=TypeConversionUtil.convertTo$ArrayType$(m);
      return val->{
  #IF OfString,OfInteger
       return val.compareTo(mConverted)<0;
  #ELSE
       return $BoxedType$.compare(val,mConverted)<0;
  #ENDIF
      };
    }
  },
  MarkLessThanOrEqualTo
  {
    @Override
    public boolean isValueConsistent()
    {
      return true;
    }
    @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
    getPred(Random rand,int m)
    {
      final $ArrayType$ mConverted=TypeConversionUtil.convertTo$ArrayType$(m);
      return val->{
  #IF OfString,OfInteger
       return val.compareTo(mConverted)<=0;
  #ELSE
       return $BoxedType$.compare(val,mConverted)<=0;
  #ENDIF
      };
    }
  }
  ,AlternatingTrueFirst
  {
     @Override public int getMHi()
     {
       return 999;
     }
     @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
     getPred(Random rand,int m)
     {
       return new $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
       ()
       {
         private int counter;
         private boolean currState=true;
         @Override
         public boolean test($ArrayType$ val)
         {
           boolean ret=currState;
           if(((++counter)%m)==0)
           {
             currState=!currState;
           }
           return ret;
         }
       };
     }
  }
  ,AlternatingFalseFirst
  {
     @Override public int getMHi()
     {
       return 999;
     }
     @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
     getPred(Random rand,int m)
     {
       return new $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
       ()
       {
         private int counter;
         private boolean currState=false;
         @Override
         public boolean test($ArrayType$ val)
         {
           boolean ret=currState;
           if(((++counter)%m)==0)
           {
             currState=!currState;
           }
           return ret;
         }
       };
     }
  }
  ,Randomized
  {
     @Override public int getNumReps()
     {
       return 100;
     }
     @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
     getPred(Random rand,int m)
     {
       return (val)->rand.nextBoolean();
     }
  }
  ,StickyRandomizedFalseFirst
  {
     @Override public int getMHi()
     {
       return 999;
     }
     @Override public int incrementM(int m)
     {
       return m+10;
     }
     @Override public int getNumReps()
     {
       return 10;
     }
     @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
     getPred(Random rand,int m)
     {
       //assert m>=0;
       //assert m<1000;
       return new $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
       ()
       {
         private boolean currState=false;
         @Override
         public boolean test($ArrayType$ val)
         {
           boolean ret=currState;
           int randInt=rand.nextInt(1000);
           if(randInt>=m)
           {
             currState=!currState;
           }
           return ret;
         }
       };
     }
  }
  ,StickyRandomizedTrueFirst
  {
     @Override public int getMHi()
     {
       return 999;
     }
     @Override public int incrementM(int m)
     {
       return m+10;
     }
     @Override public int getNumReps()
     {
       return 10;
     }
     @Override public $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
     getPred(Random rand,int m)
     {
       //assert m>=0;
       //assert m<1000;
       
       return new $TypeNameModifier$Predicate
  #IF OfString,OfInteger
    <$ArrayType$>
  #ENDIF
       ()
       {
         private boolean currState=true;
         @Override
         public boolean test($ArrayType$ val)
         {
           boolean ret=currState;
           int randInt=rand.nextInt(1000);
           if(randInt>=m)
           {
             currState=!currState;
           }
           return ret;
         }
       };
     }
  }
#ENDIF
  ;
  
  public abstract $TypeNameModifier$Predicate
#IF OfString,OfInteger
  <$ArrayType$>
#ENDIF
  getPred(Random rand,int m);
  public int incrementM(int m)
  {
    return m+1;
  }
  public boolean isValueConsistent()
  {
    return false;
  }
  public int getMLo()
  {
    return 1;
  }
  public int getMHi()
  {
    return 1;
  }
  public int getNumReps()
  {
    return 1;
  }
  
}