#TYPEDEF OfGeneric
package omni.util;
import java.util.function.DoublePredicate;
import java.util.function.IntPredicate;
import java.util.function.LongPredicate;
import java.util.function.Predicate;
import java.util.Random;
import org.junit.jupiter.api.Assertions;
import org.junit.jupiter.api.Test;
import omni.function.CharPredicate;
import omni.function.FloatPredicate;
import omni.function.ShortPredicate;
import omni.function.BooleanPredicate;
import omni.function.ByteUnaryOperator;
import omni.function.CharUnaryOperator;
import omni.function.ShortUnaryOperator;
import java.util.function.IntUnaryOperator;
import java.util.function.LongUnaryOperator;
import omni.function.FloatUnaryOperator;
import java.util.function.DoubleUnaryOperator;
import java.util.function.UnaryOperator;
import java.util.Objects;
import java.util.Arrays;
import java.util.function.DoubleConsumer;
import java.util.function.IntConsumer;
import java.util.function.LongConsumer;
import java.util.function.Consumer;
import omni.function.CharConsumer;
import omni.function.FloatConsumer;
import omni.function.ShortConsumer;
import omni.function.ByteConsumer;
import omni.function.BooleanConsumer;
public class OmniArrayTest
{
  private void testGrowBy100PctHelper(int currCapacityBaseLine){
      for(int i=-2;i<=2;++i){
          int currentCapacity=currCapacityBaseLine+i;
          if(currentCapacity>=0&&currentCapacity<Integer.MAX_VALUE){
              int expected;
              if(currentCapacity<=OmniArray.MAX_ARR_SIZE/2){
                  expected=Math.max(currentCapacity+1,currentCapacity*2);
              }else if(currentCapacity<OmniArray.MAX_ARR_SIZE){
                  expected=OmniArray.MAX_ARR_SIZE;
              }else{
                  expected=currentCapacity+1;
              }
              int actual=OmniArray.growBy100Pct(currentCapacity);
              Assertions.assertTrue(expected==actual);
          }
      }
  }

  @Test
  public void testGrowBy100Pctint(){
      testGrowBy100PctHelper(0);
      testGrowBy100PctHelper(OmniArray.MAX_ARR_SIZE/2);
      testGrowBy100PctHelper(OmniArray.MAX_ARR_SIZE);
      testGrowBy100PctHelper(Integer.MAX_VALUE);
      Assertions.assertThrows(OutOfMemoryError.class,()->OmniArray.growBy100Pct(Integer.MAX_VALUE));
  }
  private void testGrowBy100PctHelper(int currCapacityBaseLine,int minCapacityBaseline){
      for(int i=-2;i<=2;++i){
          int currCapacity=currCapacityBaseLine+i;
          if(currCapacity>=0&&currCapacityBaseLine<Integer.MAX_VALUE-1){
              for(int j=0;j<2;++j){
                  int minCapacity=minCapacityBaseline+j;
                  if(minCapacity<=currCapacity){
                      continue;
                  }
                  int expected;
                  if(minCapacity<=OmniArray.MAX_ARR_SIZE){
                      expected=Math.min(OmniArray.MAX_ARR_SIZE,Math.max(minCapacity,currCapacity*2));
                  }else{
                      expected=minCapacity;
                  }
                  int actual=OmniArray.growBy100Pct(currCapacity,minCapacity);
                  Assertions.assertTrue(expected==actual);
              }
          }
      }
  }
  @Test
  public void testGrowBy100Pctintint(){
      testGrowBy100PctHelper(0,1);
      testGrowBy100PctHelper(10,30);
      testGrowBy100PctHelper(OmniArray.MAX_ARR_SIZE/2,OmniArray.MAX_ARR_SIZE/2+1);
      testGrowBy100PctHelper(OmniArray.MAX_ARR_SIZE/2,OmniArray.MAX_ARR_SIZE);
      testGrowBy100PctHelper(OmniArray.MAX_ARR_SIZE,OmniArray.MAX_ARR_SIZE+1);
      Assertions.assertThrows(OutOfMemoryError.class,()->OmniArray.growBy100Pct(Integer.MAX_VALUE,Integer.MAX_VALUE+1));
      Assertions.assertThrows(OutOfMemoryError.class,()->OmniArray.growBy100Pct(0,Integer.MAX_VALUE+1));
  }
  private void testGrowBy50PctHelper(int currCapacityBaseLine){
      for(int i=-2;i<=2;++i){
          int currentCapacity=currCapacityBaseLine+i;
          if(currentCapacity>=0&&currentCapacity<Integer.MAX_VALUE){
              int expected;
              if(currentCapacity<=(int)(OmniArray.MAX_ARR_SIZE/1.5)){
                  expected=Math.max(currentCapacity+1,(int)(currentCapacity*1.5));
              }else if(currentCapacity<OmniArray.MAX_ARR_SIZE){
                  expected=OmniArray.MAX_ARR_SIZE;
              }else{
                  expected=currentCapacity+1;
              }
              int actual=OmniArray.growBy50Pct(currentCapacity);
              Assertions.assertTrue(expected==actual);
          }
      }
  }
  @Test
  public void testGrowBy50Pctint(){
      testGrowBy50PctHelper(0);
      testGrowBy50PctHelper(OmniArray.MAX_ARR_SIZE/3*2+1);
      testGrowBy50PctHelper(OmniArray.MAX_ARR_SIZE);
      testGrowBy50PctHelper(Integer.MAX_VALUE);
      Assertions.assertThrows(OutOfMemoryError.class,()->OmniArray.growBy50Pct(Integer.MAX_VALUE));
  }

  private void testGrowBy50PctHelper(int currCapacityBaseLine,int minCapacityBaseline){
      for(int i=-2;i<=2;++i){
          int currCapacity=currCapacityBaseLine+i;
          if(currCapacity>=0&&currCapacityBaseLine<Integer.MAX_VALUE-1){
              for(int j=0;j<2;++j){
                  int minCapacity=minCapacityBaseline+j;
                  if(minCapacity<=currCapacity){
                      continue;
                  }
                  int expected;
                  if(minCapacity<=OmniArray.MAX_ARR_SIZE){
                      expected=Math.min(OmniArray.MAX_ARR_SIZE,Math.max(minCapacity,(int)(currCapacity*1.5)));
                  }else{
                      expected=minCapacity;
                  }
                  int actual=OmniArray.growBy50Pct(currCapacity,minCapacity);
                  Assertions.assertTrue(expected==actual);
              }
          }
      }
  }
  @Test
  public void testGrowBy50Pctintint(){
      testGrowBy50PctHelper(0,1);
      testGrowBy50PctHelper(10,30);
      testGrowBy50PctHelper(OmniArray.MAX_ARR_SIZE/3*2+1,OmniArray.MAX_ARR_SIZE/3*2+2);
      testGrowBy50PctHelper(OmniArray.MAX_ARR_SIZE/3*2+1,OmniArray.MAX_ARR_SIZE);
      testGrowBy50PctHelper(OmniArray.MAX_ARR_SIZE,OmniArray.MAX_ARR_SIZE+1);
      Assertions.assertThrows(OutOfMemoryError.class,()->OmniArray.growBy50Pct(Integer.MAX_VALUE,Integer.MAX_VALUE+1));
      Assertions.assertThrows(OutOfMemoryError.class,()->OmniArray.growBy50Pct(0,Integer.MAX_VALUE+1));
  }
  @Test
  public void testGrowToArrSeqDefault(){
      Assertions.assertTrue(OmniArray.MAX_ARR_SIZE==OmniArray.growToArrSeqDefault(OmniArray.MAX_ARR_SIZE));
      Assertions.assertTrue(
              (int)(OmniArray.DEFAULT_ARR_SEQ_CAP*1.5)==OmniArray.growToArrSeqDefault(OmniArray.DEFAULT_ARR_SEQ_CAP));
      Assertions.assertTrue(
              OmniArray.DEFAULT_ARR_SEQ_CAP==OmniArray.growToArrSeqDefault(OmniArray.DEFAULT_ARR_SEQ_CAP-1));
  }
  @Test
  public void testUncheckedArrResize(){
      {
          String[] input=new String[]{"a","b","c"};
          String[] output=OmniArray.uncheckedArrResize(2,input);
          Assertions.assertTrue(input==output);
          Assertions.assertTrue(input[2]==null);
      }
      {
          String[] input=new String[]{"a","b","c"};
          String[] output=OmniArray.uncheckedArrResize(3,input);
          Assertions.assertTrue(input==output);
      }
      {
          String[] input=new String[]{"a","b","c"};
          String[] output=OmniArray.uncheckedArrResize(4,input);
          Assertions.assertTrue(input!=output);
          Assertions.assertTrue(output.length==4);
      }
  }
  @Test
  public void testDefaultArrays(){
      Assertions.assertTrue(OmniArray.OfBoolean.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfByte.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfChar.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfShort.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfInt.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfLong.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfFloat.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfDouble.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfRef.DEFAULT_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfBoolean.DEFAULT_BOXED_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfByte.DEFAULT_BOXED_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfChar.DEFAULT_BOXED_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfShort.DEFAULT_BOXED_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfInt.DEFAULT_BOXED_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfLong.DEFAULT_BOXED_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfFloat.DEFAULT_BOXED_ARR.length==0);
      Assertions.assertTrue(OmniArray.OfDouble.DEFAULT_BOXED_ARR.length==0);
  }
  
  
  #MACRO TestIndexPredicate<char>(Char,CharPredicate,)
  #MACRO TestIndexPredicate<short>(Short,ShortPredicate,)
  #MACRO TestIndexPredicate<int>(Int,IntPredicate,)
  #MACRO TestIndexPredicate<long>(Long,LongPredicate,)
  #MACRO TestIndexPredicate<float>(Float,FloatPredicate,)
  #MACRO TestIndexPredicate<double>(Double,DoublePredicate,)
  #MACRO TestIndexPredicate<Double>(Ref,Predicate<Double>,new Double)
#MACRODEF TestIndexPredicate<EXPOSEDTYPE>(CLASSPREFIX,PREDICATETYPE,CREATEVAL)
#IFSWITCH EXPOSEDTYPE==Double
@SuppressWarnings("deprecation")
#ENDIF
@Test
public void testGetIndexPredicateCLASSPREFIX()
{
  var inputPred=new CLASSPREFIXIndexPredicate();
  EXPOSEDTYPE testVal=(EXPOSEDTYPE)CREATEVAL(1);
  OmniArray.OfCLASSPREFIX.getIndexPredicate(inputPred,(EXPOSEDTYPE)CREATEVAL(3),(EXPOSEDTYPE)CREATEVAL(2),testVal).test(2);
  Assertions.assertTrue(inputPred.captured==testVal);
}
private static class CLASSPREFIXIndexPredicate implements PREDICATETYPE
{
  EXPOSEDTYPE captured;
  @Override
  public boolean test(EXPOSEDTYPE val)
  {
    captured=val;
    return true;
  }
}
#ENDDEF

  #MACRO TestToString<boolean>(Boolean)
  #MACRO TestToString<byte>(Byte)
  #MACRO TestToString<char>(Char)
  #MACRO TestToString<short>(Short)
  #MACRO TestToString<int>(Int)
  #MACRO TestToString<long>(Long)
  #MACRO TestToString<float>(Float)
  #MACRO TestToString<double>(Double)
  #MACRO TestToString<Integer>(Ref)
#MACRODEF TestToString<ARRTYPE>(CLASSPREFIX)
#IFSWITCH ARRTYPE==Integer,double
@Test
public void testAscendingStringBuilderToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  StringBuilder builder=new StringBuilder("[");
  OmniArray.OfCLASSPREFIX.ascendingToString(arr,0,arr.length-1,builder);
  builder.append(']');
  String result=builder.toString();
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
@Test
public void testDescendingStringBuilderToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  StringBuilder builder=new StringBuilder("[");
  OmniArray.OfCLASSPREFIX.descendingToString(arr,0,arr.length-1,builder);
  builder.append(']');
  String result=builder.toString();
  OmniArray.OfCLASSPREFIX.reverseRange(arr,0,arr.length-1);
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
#ELSEIFSWITCH ARRTYPE==char
@Test
public void testAscendingFixedBufferToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  char[] buffer=new char[arr.length*3];
  buffer[0]='[';
  buffer[buffer.length-1]=']';
  OmniArray.OfCLASSPREFIX.ascendingToString(arr,0,arr.length-1,buffer,1);
  String result=new String(buffer,0,buffer.length);
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
@Test
public void testDescendingFixedBufferToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  char[] buffer=new char[arr.length*3];
  buffer[0]='[';
  buffer[buffer.length-1]=']';
  OmniArray.OfCLASSPREFIX.descendingToString(arr,0,arr.length-1,buffer,1);
  String result=new String(buffer,0,buffer.length);
  OmniArray.OfCLASSPREFIX.reverseRange(arr,0,arr.length-1);
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
#ELSE
@Test
public void testAscendingOmniStringBuilderToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  char[] buffer=new char[]{'['};
  ToStringUtil.OmniStringBuilder builder=new ToStringUtil.OmniStringBuilder(1,buffer);
  OmniArray.OfCLASSPREFIX.ascendingToString(arr,0,arr.length-1,builder);
  builder.uncheckedAppendChar(']');
  String result=builder.toString();
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
@Test
public void testDescendingOmniStringBuilderToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  char[] buffer=new char[]{'['};
  ToStringUtil.OmniStringBuilder builder=new ToStringUtil.OmniStringBuilder(1,buffer);
  OmniArray.OfCLASSPREFIX.descendingToString(arr,0,arr.length-1,builder);
  builder.uncheckedAppendChar(']');
  String result=builder.toString();
  OmniArray.OfCLASSPREFIX.reverseRange(arr,0,arr.length-1);
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
@Test
public void testAscendingFixedBufferToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  char[] buffer=new char[22*arr.length];
  buffer[0]='[';
  int bufferOffset=OmniArray.OfCLASSPREFIX.ascendingToString(arr,0,arr.length-1,buffer,1);
  buffer[bufferOffset++]=']';
  String result=new String(buffer,0,bufferOffset);
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
@Test
public void testDescendingFixedBufferToStringARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[10];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  char[] buffer=new char[22*arr.length];
  buffer[0]='[';
  int bufferOffset=OmniArray.OfCLASSPREFIX.descendingToString(arr,0,arr.length-1,buffer,1);
  buffer[bufferOffset++]=']';
  String result=new String(buffer,0,bufferOffset);
  OmniArray.OfCLASSPREFIX.reverseRange(arr,0,arr.length-1);
  String expected=Arrays.toString(arr);
  Assertions.assertEquals(result,expected);
}
#ENDIF

#ENDDEF
  #MACRO TestRemoveRangeAndPullDown<boolean>(Boolean)
  #MACRO TestRemoveRangeAndPullDown<byte>(Byte)
  #MACRO TestRemoveRangeAndPullDown<char>(Char)
  #MACRO TestRemoveRangeAndPullDown<short>(Short)
  #MACRO TestRemoveRangeAndPullDown<int>(Int)
  #MACRO TestRemoveRangeAndPullDown<long>(Long)
  #MACRO TestRemoveRangeAndPullDown<float>(Float)
  #MACRO TestRemoveRangeAndPullDown<double>(Double)
  #MACRO TestRemoveRangeAndPullDown<Integer>(Ref)
#MACRODEF TestRemoveRangeAndPullDown<ARRTYPE>(CLASSPREFIX)
@Test
public void testRemoveRangeAndPullDownARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[1000];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  ARRTYPE[] copy=new ARRTYPE[arr.length];
  ArrCopy.uncheckedCopy(arr,0,copy,0,arr.length);
  int index=arr.length/2;
  int bound=OmniArray.OfCLASSPREFIX.removeRangeAndPullDown(arr,index+100,arr.length,100);
  Assertions.assertEquals(bound,arr.length-100);
  EqualityUtil.uncheckedparallelassertarraysAreEqual(arr,0,copy,0,index);
  EqualityUtil.uncheckedparallelassertarraysAreEqual(arr,index,copy,index+100,bound-index);
  #IFSWITCH ARRTYPE==Integer
  for(int i=bound;i<arr.length;++i)
  {
    Assertions.assertNull(arr[i]);
  }
  #ENDIF
}
#ENDDEF

  #MACRO TestRemoveIndexAndPullDown<boolean>(Boolean)
  #MACRO TestRemoveIndexAndPullDown<byte>(Byte)
  #MACRO TestRemoveIndexAndPullDown<char>(Char)
  #MACRO TestRemoveIndexAndPullDown<short>(Short)
  #MACRO TestRemoveIndexAndPullDown<int>(Int)
  #MACRO TestRemoveIndexAndPullDown<long>(Long)
  #MACRO TestRemoveIndexAndPullDown<float>(Float)
  #MACRO TestRemoveIndexAndPullDown<double>(Double)
  #MACRO TestRemoveIndexAndPullDown<Integer>(Ref)
#MACRODEF TestRemoveIndexAndPullDown<ARRTYPE>(CLASSPREFIX)
@Test
public void testRemoveIndexAndPullDownARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[1000];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  ARRTYPE[] copy=new ARRTYPE[arr.length];
  ArrCopy.uncheckedCopy(arr,0,copy,0,arr.length);
  int index=arr.length/2;
  OmniArray.OfCLASSPREFIX.removeIndexAndPullDown(arr,index,arr.length-1);

  EqualityUtil.uncheckedparallelassertarraysAreEqual(arr,0,copy,0,index);
  EqualityUtil.uncheckedparallelassertarraysAreEqual(arr,index,copy,index+1,arr.length-1-index);
  #IFSWITCH ARRTYPE==Integer
  Assertions.assertNull(arr[arr.length-1]);
  #ENDIF
}
#ENDDEF

  #MACRO TestSeqHashCode<boolean>(Boolean)
  #MACRO TestSeqHashCode<byte>(Byte)
  #MACRO TestSeqHashCode<char>(Char)
  #MACRO TestSeqHashCode<short>(Short)
  #MACRO TestSeqHashCode<int>(Int)
  #MACRO TestSeqHashCode<long>(Long)
  #MACRO TestSeqHashCode<float>(Float)
  #MACRO TestSeqHashCode<double>(Double)
  #MACRO TestSeqHashCode<Integer>(Ref)
#MACRODEF TestSeqHashCode<ARRTYPE>(CLASSPREFIX)
@Test
public void testAscendingSeqHashCodeARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[1000];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  int hash=OmniArray.OfCLASSPREFIX.ascendingSeqHashCode(arr,0,arr.length-1);
  int expectedHash=1;
  for(int i=0;i<arr.length;++i)
  {
    expectedHash=expectedHash*31+(
#IFSWITCH ARRTYPE==byte,char,short,int
      arr[i]
#ELSEIFSWITCH ARRTYPE==boolean,long,float,double
      CLASSPREFIX.hashCode(arr[i])
#ELSE
      Objects.hashCode(arr[i])
#ENDIF
    );
  }
  Assertions.assertEquals(hash,expectedHash);
#IFSWITCH ARRTYPE==boolean
  OmniArray.OfCLASSPREFIX.uncheckedReplaceAll(arr,0,arr.length,val->!val);
  hash=OmniArray.OfCLASSPREFIX.ascendingSeqHashCode(arr,0,arr.length-1);
  expectedHash=1;
  for(int i=0;i<arr.length;++i)
  {
    expectedHash=expectedHash*31+(CLASSPREFIX.hashCode(arr[i]));
  }
  Assertions.assertEquals(hash,expectedHash);
#ENDIF
  
}
@Test
public void testDescendingSeqHashCodeARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[1000];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  int hash=OmniArray.OfCLASSPREFIX.descendingSeqHashCode(arr,0,arr.length-1);
  int expectedHash=1;
  for(int i=arr.length-1;i>=0;--i)
  {
    expectedHash=expectedHash*31+
#IFSWITCH ARRTYPE==byte,char,short,int
      arr[i];
#ELSEIFSWITCH ARRTYPE==boolean,long,float,double
      CLASSPREFIX.hashCode(arr[i]);
#ELSE
      Objects.hashCode(arr[i]);
#ENDIF
  }
  Assertions.assertEquals(hash,expectedHash);
#IFSWITCH ARRTYPE==boolean
  OmniArray.OfCLASSPREFIX.uncheckedReplaceAll(arr,0,arr.length,val->!val);
  hash=OmniArray.OfCLASSPREFIX.descendingSeqHashCode(arr,0,arr.length-1);
  expectedHash=1;
  for(int i=arr.length-1;i>=0;--i)
  {
    expectedHash=expectedHash*31+(CLASSPREFIX.hashCode(arr[i]));
  }
  Assertions.assertEquals(hash,expectedHash);
#ENDIF
}
#ENDDEF
  
  #MACRO TestForEach<boolean>(BooleanConsumer,Boolean)
  #MACRO TestForEach<byte>(ByteConsumer,Byte)
  #MACRO TestForEach<char>(CharConsumer,Char)
  #MACRO TestForEach<short>(ShortConsumer,Short)
  #MACRO TestForEach<int>(IntConsumer,Int)
  #MACRO TestForEach<long>(LongConsumer,Long)
  #MACRO TestForEach<float>(FloatConsumer,Float)
  #MACRO TestForEach<double>(DoubleConsumer,Double)
  #MACRO TestForEach<Integer>(Consumer<Integer>,Ref)
#MACRODEF TestForEach<ARRTYPE>(CONSUMER,CLASSPREFIX)
@Test
public void testascendingForEachARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[1000];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  ARRTYPE[] copy=new ARRTYPE[arr.length];
  
  var forwardCopier=new CONSUMER()
  {
    int currIndex=0;
    public void accept(ARRTYPE val)
    {
      copy[currIndex++]=val;
    };
  };
  OmniArray.OfCLASSPREFIX.ascendingForEach(arr,0,arr.length-1,forwardCopier);
  
  EqualityUtil.uncheckedparallelassertarraysAreEqual(arr,0,copy,0,arr.length);
  
}


@Test
public void testdescendingForEachARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[1000];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  ARRTYPE[] copy=new ARRTYPE[arr.length];
  
  var reverseCopier=new CONSUMER()
  {
    int currIndex=arr.length;
    public void accept(ARRTYPE val)
    {
      copy[--currIndex]=val;
    };
  };
  OmniArray.OfCLASSPREFIX.descendingForEach(arr,0,arr.length-1,reverseCopier);
  
  EqualityUtil.uncheckedparallelassertarraysAreEqual(arr,0,copy,0,arr.length);
  
}
#ENDDEF
  

  #MACRO TestReplaceAll<boolean>(BooleanPredicate,Boolean,test)
  #MACRO TestReplaceAll<byte>(ByteUnaryOperator,Byte,applyAsByte)
  #MACRO TestReplaceAll<char>(CharUnaryOperator,Char,applyAsChar)
  #MACRO TestReplaceAll<short>(ShortUnaryOperator,Short,applyAsShort)
  #MACRO TestReplaceAll<int>(IntUnaryOperator,Int,applyAsInt)
  #MACRO TestReplaceAll<long>(LongUnaryOperator,Long,applyAsLong)
  #MACRO TestReplaceAll<float>(FloatUnaryOperator,Float,applyAsFloat)
  #MACRO TestReplaceAll<double>(DoubleUnaryOperator,Double,applyAsDouble)
  #MACRO TestReplaceAll<Integer>(UnaryOperator<Integer>,Ref,apply)
#MACRODEF TestReplaceAll<ARRTYPE>(UNARYOPERATOR,CLASSPREFIX,APPLYMETHOD)
@Test
public void testUncheckedReplaceAllARRTYPE()
{
  ARRTYPE[] arr=new ARRTYPE[1000];
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,new Random(),0);
  ARRTYPE[] copy=new ARRTYPE[arr.length];
  ArrCopy.uncheckedCopy(arr,0,copy,0,arr.length);
  
  UNARYOPERATOR manipulator=val->
  {
#IFSWITCH ARRTYPE==boolean
    return !val;
#ELSEIFSWITCH ARRTYPE==Integer
    int i=(int)val;
    return (ARRTYPE)(i*i);
#ELSE
    return (ARRTYPE)(val*val);
#ENDIF
  };
  OmniArray.OfCLASSPREFIX.uncheckedReplaceAll(arr,0,arr.length,manipulator);
  
  for(int i=0;i<arr.length;++i)
  {
    Assertions.assertTrue(EqualityUtil.isEqual(manipulator.APPLYMETHOD(copy[i]),arr[i]));
  }
}
#ENDDEF

  #MACRO TestReverseRangeMethods<true>()
#MACRODEF TestReverseRangeMethods<PARALLEL>()
  #MACRO TestReverseRange<boolean>(Boolean)
  #MACRO TestReverseRange<byte>(Byte)
  #MACRO TestReverseRange<char>(Char)
  #MACRO TestReverseRange<short>(Short)
  #MACRO TestReverseRange<int>(Int)
  #MACRO TestReverseRange<long>(Long)
  #MACRO TestReverseRange<float>(Float)
  #MACRO TestReverseRange<double>(Double)
  #MACRO TestReverseRange<String>(Ref)
#ENDDEF
#MACRODEF TestReverseRange<ARRTYPE>(CLASSPREFIX)
@Test
public void testReverseRangeARRTYPE()
{
  Random rand=new Random(0);
  ARRTYPE[] arr;
  ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr=new ARRTYPE[100],0,arr.length,rand,0);
  ARRTYPE[] copy=new ARRTYPE[arr.length];
  ArrCopy.uncheckedCopy(arr,0,copy,0,arr.length);
  OmniArray.OfCLASSPREFIX.reverseRange(arr,0,arr.length-1);
#IFSWITCH PARALLEL==true
  EqualityUtil.uncheckedparallelassertreversearraysAreEqual(arr,0,copy,0,arr.length);
#ELSE
  EqualityUtil.uncheckedassertreversearraysAreEqual(arr,0,copy,0,arr.length);
#ENDIF
}
#ENDDEF

  @Test
  public void testGetFltBitsIndexPredicate()
  {
    var inputPred=new FloatIndexPredicate();
    OmniArray.OfFloat.getFltBitsIndexPredicate(inputPred,Float.floatToRawIntBits(3.0f),Float.floatToRawIntBits(2.0f),Float.floatToRawIntBits(1.0f)).test(2);
    Assertions.assertTrue(inputPred.captured==1.0f);
  }
  @Test
  public void testGetDblBitsIndexPredicate()
  {
    var inputPred=new DoubleIndexPredicate();
    OmniArray.OfDouble.getDblBitsIndexPredicate(inputPred,Double.doubleToRawLongBits(3.0),Double.doubleToRawLongBits(2.0),Double.doubleToRawLongBits(1.0)).test(2);
    Assertions.assertTrue(inputPred.captured==1.0);
  }
  
  @Test
  public void testNullifyRange()
  {
      String[] arr=new String[]{"a","b","c","d","e","f","g"};
      OmniArray.OfRef.nullifyRange(arr,4,2);
      Assertions.assertTrue("a".equals(arr[0]));
      Assertions.assertTrue("b".equals(arr[1]));
      Assertions.assertTrue(arr[2]==null);
      Assertions.assertTrue(arr[3]==null);
      Assertions.assertTrue(arr[4]==null);
      Assertions.assertTrue("f".equals(arr[5]));
      Assertions.assertTrue("g".equals(arr[6]));
  }
  
  #MACRO TestUncheckedQuery<boolean,Boolean>()
  #MACRO TestUncheckedQuery<byte,Byte>()
  #MACRO TestUncheckedQuery<char,Char>()
  #MACRO TestUncheckedQuery<short,Short>()
  #MACRO TestUncheckedQuery<int,Int>()
  #MACRO TestUncheckedQuery<long,Long>()
  #MACRO TestUncheckedQuery<float,Float>()
  #MACRO TestUncheckedQuery<double,Double>()
  #MACRO TestUncheckedQuery<Integer,Ref>()
#MACRODEF TestUncheckedQuery<ARRTYPE,CLASSPREFIX>()
@Test
public void testUncheckedQueryARRTYPE()
{
  Random rand=new Random(0);
  for(int i=0;i<100;++i)
  {
    boolean willContain=rand.nextBoolean();
    
#IFSWITCH ARRTYPE==boolean
    ARRTYPE[] arr=new ARRTYPE[1000];
    if(willContain)
    {
      ARRTYPEArrayBuilder.Randomized.buildUnchecked(arr,0,arr.length,rand,rand.nextInt());
      int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
      ARRTYPE v=arr[index];
      Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontains(arr,0,arr.length-1,v));
      ARRTYPEArrayBuilder.AllEquals.buildUnchecked(arr,0,arr.length,rand,0);
      v=arr[index];
      arr[index]=!v;
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,arr.length,!v));
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,arr.length,!v));
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,0,arr.length,!v));
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,0,arr.length,!v));
      Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearch(arr,arr.length,!v));
    }
    else
    {
      ARRTYPEArrayBuilder.AllEquals.buildUnchecked(arr,0,arr.length,rand,rand.nextInt());
      ARRTYPE v=arr[0];
      Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontains(arr,0,arr.length-1,!v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,arr.length,!v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,arr.length,!v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,0,arr.length,!v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,0,arr.length,!v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearch(arr,arr.length,!v));
      
    }
#ELSEIFSWITCH ARRTYPE==byte,char,short,int,long
    var arr=ARRTYPEArrayBuilder.buildRandomArray(1000,1,100,rand);
    if(willContain)
    {
      int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
      var v=arr[index];
      Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontains(arr,0,arr.length-1,v));
      
      v=arr[index]=TypeConversionUtil.convertToARRTYPE(RandomUtil.randomIntBetween(101,120,rand));
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,arr.length,v));
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,arr.length,v));
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,0,arr.length,v));
      Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,0,arr.length,v));
      Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearch(arr,arr.length,v));
      
    }
    else
    {
      var v=TypeConversionUtil.convertToARRTYPE(RandomUtil.randomIntBetween(101,120,rand));
      Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontains(arr,0,arr.length-1,v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,arr.length,v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,arr.length,v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,0,arr.length,v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,0,arr.length,v));
      Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearch(arr,arr.length,v));
    }
#ELSE
    var arr=ARRTYPEArrayBuilder.buildRandomArray(1000,1,100,rand);
    switch(RandomUtil.randomIntBetween(0,2,rand))
    {
      case 0:
      {
  #IFSWITCH ARRTYPE==float,double
        //test bits
        if(willContain)
        {
          int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
          var v=arr[index];
    #IFSWITCH ARRTYPE==float
          var bits=Float.floatToRawIntBits(v);
    #ELSE
          var bits=Double.doubleToRawLongBits(v);
    #ENDIF
          Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontainsBits(arr,0,arr.length-1,bits));
          
          v=arr[index]=TypeConversionUtil.convertToARRTYPE(RandomUtil.randomIntBetween(101,120,rand));
          
    #IFSWITCH ARRTYPE==float
          bits=Float.floatToRawIntBits(v);
    #ELSE
          bits=Double.doubleToRawLongBits(v);
    #ENDIF
          
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfBits(arr,arr.length,bits));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfBits(arr,arr.length,bits));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfBits(arr,0,arr.length,bits));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfBits(arr,0,arr.length,bits));
          Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearchBits(arr,arr.length,bits));
        }
        else
        {
    #IFSWITCH ARRTYPE==float
          var bits=Float.floatToRawIntBits(1000);
    #ELSE
          var bits=Double.doubleToRawLongBits(1000);
    #ENDIF
          Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontainsBits(arr,0,arr.length-1,bits));
          
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfBits(arr,arr.length,bits));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfBits(arr,arr.length,bits));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfBits(arr,0,arr.length,bits));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfBits(arr,0,arr.length,bits));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearchBits(arr,arr.length,bits));
        }
  #ELSE
        //test non-null
        if(willContain)
        {
          int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
          var v=arr[index];
          Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontainsNonNull(arr,0,arr.length-1,v));
          
          v=arr[index]=TypeConversionUtil.convertToARRTYPE(RandomUtil.randomIntBetween(101,120,rand));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfNonNull(arr,arr.length,v));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNonNull(arr,arr.length,v));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfNonNull(arr,0,arr.length,v));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNonNull(arr,0,arr.length,v));
          Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearchNonNull(arr,arr.length,v));
          
          
        }
        else
        {
          Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontainsNonNull(arr,0,arr.length-1,new Object()));
          
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfNonNull(arr,arr.length,new Object()));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNonNull(arr,arr.length,new Object()));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfNonNull(arr,0,arr.length,new Object()));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNonNull(arr,0,arr.length,new Object()));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearchNonNull(arr,arr.length,new Object()));
        }
  #ENDIF
        break;
      }
      case 1:
      {
  #IFSWITCH ARRTYPE==float,double
        //test NaN
        if(willContain)
        {
          int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
          arr[index]=CLASSPREFIX.NaN;
          Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontainsNaN(arr,0,arr.length-1));
          
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfNaN(arr,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNaN(arr,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfNaN(arr,0,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNaN(arr,0,arr.length));
          Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearchNaN(arr,arr.length));
        }
        else
        {
          Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontainsNaN(arr,0,arr.length-1));
          
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfNaN(arr,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNaN(arr,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfNaN(arr,0,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNaN(arr,0,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearchNaN(arr,arr.length));
        }
  #ELSE
        //test null
        if(willContain)
        {
          int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
          arr[index]=null;
          Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontainsNull(arr,0,arr.length-1));
          
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfNull(arr,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNull(arr,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOfNull(arr,0,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNull(arr,0,arr.length));
          Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearchNull(arr,arr.length));
        }
        else
        {
          Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontainsNull(arr,0,arr.length-1));
          
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfNull(arr,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNull(arr,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOfNull(arr,0,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOfNull(arr,0,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearchNull(arr,arr.length));
        }
  #ENDIF
        break;
      }
      default:
      {
  #IFSWITCH ARRTYPE==float,double
        //test 0
        if(willContain)
        {
          int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
          arr[index]=0;
          Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontains0(arr,0,arr.length-1));
          
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf0(arr,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf0(arr,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf0(arr,0,arr.length));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf0(arr,0,arr.length));
          Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearch0(arr,arr.length));
        }
        else
        {
          Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontains0(arr,0,arr.length-1));
          
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf0(arr,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf0(arr,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf0(arr,0,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf0(arr,0,arr.length));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearch0(arr,arr.length));
        }
  #ELSE
        //test predicate
        if(willContain)
        {
          int index=RandomUtil.randomIntBetween(0,arr.length-1,rand);
          var v=arr[index];
          Assertions.assertTrue(OmniArray.OfCLASSPREFIX.uncheckedcontains(arr,0,arr.length-1,v::equals));
          
          v=arr[index]=TypeConversionUtil.convertToARRTYPE(RandomUtil.randomIntBetween(101,120,rand));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,arr.length,v::equals));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,arr.length,v::equals));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,0,arr.length,v::equals));
          Assertions.assertEquals(index,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,0,arr.length,v::equals));
          Assertions.assertEquals(arr.length-index,OmniArray.OfCLASSPREFIX.uncheckedsearch(arr,arr.length,v::equals));
          
          
        }
        else
        {
          Assertions.assertFalse(OmniArray.OfCLASSPREFIX.uncheckedcontains(arr,0,arr.length-1,Objects::isNull));
          
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,arr.length,Objects::isNull));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,arr.length,Objects::isNull));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedindexOf(arr,0,arr.length,Objects::isNull));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedlastIndexOf(arr,0,arr.length,Objects::isNull));
          Assertions.assertEquals(-1,OmniArray.OfCLASSPREFIX.uncheckedsearch(arr,arr.length,Objects::isNull));
        }
  #ENDIF
      }
    }
#ELSE
  
#ENDIF
    
  }
}


#ENDDEF
}