#TYPEDEF OfBoolean
#TYPEDEF OfByte
#TYPEDEF OfChar
#TYPEDEF OfShort
#TYPEDEF OfLong
#TYPEDEF OfFloat
#TYPEDEF OfDouble
package omni.function;

@FunctionalInterface
public interface $Comparator$
{
  public abstract int $compareMethod$(final $exposedType$ val1,$exposedType$ val2);
}
