#TYPEDEF OfByte
#TYPEDEF OfChar
#TYPEDEF OfShort
#TYPEDEF OfFloat
package omni.function;

@FunctionalInterface
public interface $TypeNameModifier$Supplier
{
  public abstract $exposedType$ getAs$TypeNameModifier$();
}